/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #323232;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  @include list-unstyled;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0 !important;
}



.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #232222;
  box-shadow: 0 0 5px 5px #1F2020;
  color: #cfcfcf;
  border-radius: 5px;
}

.weather-form {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    width: 100%;
    font-weight: 400;
    color: #fff;
    background-color: #30303086;
    border-radius: 5px;
    padding: 5px 30px 8px 10px;
    border: 1px solid rgb(146, 145, 145);
    outline: none;
    font-family: 'Poppins', sans-serif;

    &::placeholder {
      font-weight: 400;
    }
  }

  &__btn {
    position: absolute;
    top: 21px;
    right: 20px;
    background-color: transparent;
    color: rgb(146, 145, 145);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin-left: 5px;
  }
}

.weather-day {
  display: flex;

  &__blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__content {
    padding: 20px;
    position: relative;
    width: 60%;
    min-width: 400px;
    align-items: center;
    justify-content: space-between;
    background-color: #30303086;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__number {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    text-align-last: end;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__currently {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
  }

  &__city {
    font-size: 20px;
    text-transform: uppercase;
  }

  &__icon {
    font-size: 50px;
  }

  &__temp {
    font-size:80px;
    padding: 20px;
    width: 40%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
  }

  &__temp sup:nth-child(2) {
    font-size: 34px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
  }

  &__temp sup:nth-child(1) {
    font-size: 27px;
    font-weight: 200;
  }
}

.weather-week {
  
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__item {
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__text {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 15px;
  }

  &__icon {
    margin-bottom: 10px;
  }

  &__temp-ligth,
  &__temp-nigth {
    font-size: 12px;
  }

  &__temp-light {
    margin-bottom: 10px !important;
  }

  &__temp-ligth span,
  &__temp-nigth span {
    font-size: 12px;
    font-weight: 200;
  }

  &__icon {
    margin-right: 5px;
  }
}
